.box {
    /* //display: ; */
    /* height: 30vw; */
    /* width: 30vw; */
    /* min-width: 300px;
    min-height: 300px; */
    margin: auto;
    /* padding: 60px; */
    position: relative;
    max-width: 60vw;
    /* bottom: 196px; */
  }
  .box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 60px; 
    padding: 10px; 
    background:var(--circle-rgb); 
    /* mask: none; */
    mask:inherit;
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.colors{
 color: #5b1d63;
 background-color: #fffc54;

}